@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("GilroyRegular"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("GilroyRegular"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("GilroyRegular"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    text-decoration: none;
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);;
    transition: 0.3s box-shadow linear;
}

img:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);

}

html {
    font-family: 'Gilroy', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    padding: 0 15px;
    background-color: #fff;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    cursor: pointer;
}

/* Header */

.header {
    padding-top: 33px;
}

.header-nav {
    padding-bottom: 31px;
    border-bottom: 1px solid #828282;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    width: 140px;
    padding: 5px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: 0.1s box-shadow linear;
}

.nav-item:hover {
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}

.nav-link {
    color: #828282;
    transition: 0.5s color linear;
}

.nav-link:hover {
    /* border-bottom: 1px solid #828282; */
    color:#070707;
}


/* Hero */

.hero-container {
    padding-bottom: 150px;
}


.hero-content {
    margin-bottom: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    background-image: url(../img/autumn-trees.svg);
    background-repeat: no-repeat;
    background-position: 700px bottom;
    background-size: 85px;
}


.hero-title {
    margin: 0;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}

.hero-descr {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

.section-hero-lng {
   transform: rotate(-90deg);

}

.hero-lng-ru {
    padding-right: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #828282;
    border-right: 1px solid #000000;
    transition: color .2s linear;
}

.hero-lng-ru:hover {
    color: #070707;
}

.hero-lng-en {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #070707;
    transition: color .2s linear;
}

.hero-lng-en:hover {
    color: #828282;
}

.hero-content-bottom svg {
    width: 200px;
    height: 200px;
}

.hero-content-bottom {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    border-top: 1px solid #828282;
}


.hero-avatar {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image:url(../img/hero-image.jpg);
    background-position: 395px;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}


.hero-img {
    width: 500px;
    height: 400px;
    margin-bottom: 104px;
}


.hero-content-quote {
    position: relative;
    max-width: 490px;
    padding: 50px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 500;
    background-color: #f6f6f6;
}

.hero-content-quote::after {
    content: "";
    position: absolute;
    bottom: 85%;
    right: -4%;
    background-image: url(../img/right-quotes-symbol.svg);
    background-repeat:no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

/* About me */
.section-about {
    background-color: #f6f6f6;
}


.about-container {
    padding-top: 120px;
    padding-bottom: 107px;
    text-align: center;
    background-image: url(../img/sitting-leaning.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px 400px;
    
}

.section-about-content {
    max-width: 400px;
    padding: 15px 15px;
    border-radius: 15px;
    text-align: left;
}

.section-about-title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: #070707;
}

.section-about-text {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #070707;
}

/* Skills */

.section-skills {
    padding-top: 91px;
    padding-bottom: 50px;

}



.skills-container {
    text-align: center;
    background-image: url(../img/graph-man.svg);
    background-repeat: no-repeat;
    background-position: -70px bottom;
    background-size: 575px 575px;
}

.section-skills-title {
    margin: 0;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.section-skills-subtitle {
    margin: 0;
    margin-top: 69px;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.section-skills-cards {
    margin-top: 50px;
    cursor: pointer;
}

.skills-card-text {
    max-width: 250px;
    margin: 0;
    margin-left: auto;
    margin-right: 75px;
    padding-right: 25px;
    text-align: center;
    background-image: url(../img/down-arrow.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right;
}

.section-skills-list {
    margin-top: 15px;
    margin-left: auto;
    max-width: 425px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    
}

.section-skills-item {
    max-width: 180px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.section-skills-item:not(:nth-child(2n)) {
    margin-right: 45px;
}

.section-skills-item svg {
    margin-bottom: 23px;
}


.skills-item-content {
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
}



.skills-item-title {
    margin: 0;
    margin-bottom: 41px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.skills-item-title:last-child {
    margin-bottom: 56px;
}

.skills-item-content:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}

.skills-rating img {
    box-shadow: none;
}

/* Portfolio */

.section-portfolio {
    background-color: #f6f6f6;
}

.portfolio-container {
    text-align: center;
    padding-top: 113px;
}

.section-portfolio-title {
    margin: 0;
    margin-bottom: 47px;
}

.section-portfolio-img {
    margin-bottom: 45px;
}

.section-portfolio-link {
    display: inline-block;
    margin-bottom: 99px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    transition-property: color,text-decoration;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.section-portfolio-link:hover {
    color: #828282;
    text-decoration: none;
}

/* Contacts */

.contacts-container {
    padding-top: 114px;
    padding-bottom: 123px;
    text-align: center;
}

.section-contacts-title {
    margin: 0;
    margin-bottom: 20px;
}

.section-contacts-descr {
    margin: 0;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}


.section-contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.section-contacts-item {
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    transition: transform .1s ease-in-out;
}

.section-contacts-item:hover {
    transform: scale(1.1);
}

.contacts-icon-link {
    cursor: pointer;
}

.contacts-icon-link:not(:last-child) {
    margin-right: 61px;
}

.contacts-bottom-link {
    font-size: 14px;
    line-height: 17px;
}

.contacts-bottom-link p {
    margin: 0;
}

.contacts-link {
    color: #828282;
    transition-property: color, border-bottom;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.contacts-link:hover {
    color: #070707;
    border-bottom: 1px solid #070707;
}

.link-icon-in {
    background-image: url(../img/telegram.svg);
    background-size: 41px 41px;
}

.link-icon-ins {
    background-image: url(../img/instagram.svg);
}

.link-icon-be {
    background-image: url(../img/github.svg);
}

/* .link-icon-dr {
    background-image: url(../img/vk-logo.svg);
    background-size: 42px 42px;
} */


